[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
flake8 = "*"
ipython = "*"
autopep8 = "*"
pytest-cov = "*"
isort = {extras = ["pipfile"],version = "*"}

[packages]
gdown = "*"
arrayfiles = "*"
